<form method="get" action="books/create">
  <div class="form-group">
    Título: <input name="title">
  <div>
  Autor: <input name="author">
  Prestado el: <input name="lend" type="date">
  Regresado el: <input name="returned" type="date">
  <input type="submit" value="Enviar">
</form>