<h2>
    Vista show
<h2>

<table class="table">
  <tr>
    <th> Título <th>
    <th> Autor <th>
    <th> Prestado el <th>
  </tr>
  
  <% @books.each do |book| %>

  <tr>
    <td> <%= book.title %> </td>
    <td> <%= book.author %> </td>
    <td> <%= book.lend_at %> </td>
  <tr>
  <% end %>
</table>




